@charset "utf-8";
/* CSS Document */

body {margin: 0px; padding:0px;font:12px/20px Georgia,Arial,"宋体",sans-serif; text-align:center;}
body > div{margin-right:auto;margin-left:auto;text-align:center; }
div,form,ul,ol,li,span,p,dl,dt,dd,img{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none}
table,td,input,textarea{font-size:12px}

a{ color:#105B49; text-decoration:none; outline:none;}
a:hover { color:#000000; text-decoration:underline; }
.container-page{ background:#FFFFFF;}
.container{width:100%; height:100%; min-width:400px; min-height:500px;}
.topbar{background: url(images/tab_05.gif) repeat-x;width:100%;height:30px; line-height:30px;}
.navtext{display:block; width:50%; float:left;}
.imgleft{ float:left;}
.imgright{ float: right;}
.clear{clear:both;}
.centercontainer{width:100%; height:100%; text-align:center;}
.centerMain{ width:100%; height:100%; margin:0 auto; }
.block{ width:32%; height:100px; margin-left:10px; margin-top:10px; min-height:100px; float:left; background-color:#CEFFFA; text-align:center;}
.block:hover{background-color:#3399FF;}
.iconclass{width:64px; height:64px; margin-top:12px;}
.icontext{fontsize:13px; display:block; margin-top:5px;}
.BottomContainer{ width:100%; background: url(images/tab_19.gif) repeat-x;height:30px; line-height:30px; margin-top:10px;
}


/* order-table */
.textDescript{ text-align:left; width:30%; padding:10px;}
.textDescript em{font-size:14px;font-style:normal; font-weight:bold;}
#order-table{width:100%; border:#666666 1PX;border:solid #add9c0; border-width:1px 0px 0px 1px;}
#order-table td{padding:5px;border:solid #add9c0; border-width:0px 1px 1px 0px;}
#order-table th{padding:5px;background:#007FFF ;color:white;text-align:left;border:solid #add9c0; border-width:0px 1px 1px 0px;}
#order-table td.row-total{text-align:right;}
#order-table td input{width:45px;text-align:center;}
#order-table tr.even td{background:#eee;}
#order-table td .total-box,.total-box{border:3px solid green;width:70px;padding:3px;margin:5px 0 5px 0;text-align:center;}
#shipping-subtotal{margin:0;}
#shipping-table{width:350px;float:right;}
#shipping-table td{padding:5px;}
#shipping-table th{padding:5px;background:#007FFF ;color:white;text-align:left;}
#shipping-table td input{width:69px;text-align:center;}
#order-total{font-weight:bold;font-size:12px;width:110px;}


.contractTable{width:95%;border:solid #000000; border-width:1px; margin:10px;}
.contractTable td{border:solid #000000; border-width:0px 1px 1px 0px;}
.contractTable th{}
.contractTable tr.even td{background:#eee;}
.contractTable td .total-box,.total-box{border:3px solid green;width:70px;padding:3px;margin:5px 0 5px 0;text-align:center;}
.inputSheet{width:95%; }